{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="row container">
    <div id="contact-text">
      <div class="row text-white">
        <div class="col text-center" style="padding-top:6%; padding-bottom:6%;">
          E-Commerce shop
          <br>
          email: shop@shop.com
          <br>
          telephone: 123 456 789
        </div>
        <div class="col text-left">
          Shop
          <br>
          Street 3, 333 33 City
          <br>
          <br>
          <h5>Opening Hours</h5>
          <pre id="pre">Monday        9:00 - 18:00</pre>
          <pre id="pre">Tuesday       9:00 - 18:00</pre>
          <pre id="pre">Wensday       9:00 - 18:00</pre>
          <pre id="pre">Thursday      9:00 - 18:00</pre>
          <pre id="pre">Friday        9:00 - 18:00</pre>
          <pre id="pre">Saturday      12:00 - 15:00</pre>
          <pre id="pre">Sunday        closed</pre>
        </div>
      </div>
    </div>    
  </div>
</div>  
{% endblock content %}