<h3 style="text-align: center">Check your information</h3>
<h6 style="text-align: center">Change information if you want or if information is out of date</h6>
<h6 style="text-align: center">Here yo can also change password</h6>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
  </div>
  <div class="form-group">
    <label for="user_name">Full Name</label>
    {{form.name}}
  </input>
  </div>
  <div class="form-group">
    <label for="user_email">E-mail</label>
    {{form.email}}
  </div>
  <div class="form-group">
    <label for="user_password1">New Password</label>
    {{form.password1}}
  </div>
  <div class="form-group">
    <label for="user_password2">Repeat New Password</label>
    {{form.password2}}
  </div>
  <div class="form-group">
    <label for="user_address">Address</label>
    {{form.address}}
  </div>
  <div class="form-group">
    <label for="user_city">City</label>
    {{form.city}}
  </div>
  <div class="form-group">
    <label for="user_psc">PSC</label>
    {{form.psc}}
  </div>
  <div class="form-group">
    <label for="user_country">Country</label>
    {{form.country}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary">Save information</button>
      </div>
    </div>
  </div>
  <br>
  <div>
    {% if messages %}
      {% for message in messages %}
        <div id="message" class="container-fluid p-0">
         <div class="alert {{ message.tags }} alert-dismissiblecenter" role="alert">
            {{ message }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</form>