<h3 style="text-align: center">Check your information</h3>
<h6 style="text-align: center">Change information if you want or if information is out of date</h6>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
  </div>
  <div class="form-group">
    <label for="user_name">Name</label>
    <input name="user_name" type="text" class="form-control" id="user_name" value="{{ user.name }}">
  </div>
  <div class="form-group">
    <label for="user_email">E-mail</label>
    <input name="user_email" type="text" class="form-control" id="user_email" value="{{ user.email }}">
  </div>
  <div class="form-group">
    <label for="user_password1">Password</label>
    <input name="user_password1" type="password" class="form-control" id="user_password1" placeholder="Enter new password">
  </div>
  <div class="form-group">
    <label for="user_password2">Password</label>
    <input name="user_password2" type="password" class="form-control" id="user_password2" placeholder="Repeat new password">
  </div>
  <div class="form-group">
    <label for="user_address">Address</label>
    <input name="user_address" type="text" class="form-control" id="user_address" value="{{ user.address }}">
  </div>
  <div class="form-group">
    <label for="user_city">City</label>
    <input name="user_city" type="text" class="form-control" id="user_city" value="{{ user.city }}">
  </div>
  <div class="form-group">
    <label for="user_psc">PSC</label>
    <input name="user_psc" type="text" class="form-control" id="user_psc" value="{{ user.psc }}">
  </div>
  <div class="form-group">
    <label for="user_country">Country</label>
    <input name="user_country" type="text" class="form-control" id="user_country" value="{{ user.country }}">
  </div>
    <button type="submit" class="btn btn-primary">Save information</button>
</form>