{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
  <div class="box-element box-register">
    <h5 class="text-center">Create new account</h5>
    <br>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Username</label>
        <br>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label>Full Name</label>
        <br>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label>Email</label>
        <br>
        {{ form.email}}
      </div>
      <div class="form-group">
        <label>Password</label>
        <br>
        {{ form.password1}}
      </div>
      <div class="form-group">
        <label>Repeat Password</label>
        <br>
        {{ form.password2}}
      </div>
      <div class="form-group">
        <label>Address</label>
        <br>
        {{ form.address}}
      </div>
      <div class="form-group">
        <label>City</label>
        <br>
        {{ form.city}}
      </div>
      <div class="form-group">
        <label>PSC</label>
        <br>
        {{ form.psc}}
      </div>
      <div class="form-group">
        <label>Country</label>
        <br>
        {{ form.country}}
      </div>
      <br>
      <div class="col text-center">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
      <br>
      <div>
        {% if messages %}
          {% for message in messages %}
            <div class="container">
              <div class="alert {{ message.tags }} alert-dismissiblecenter" role="alert">
                {{ message }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}